.idea/
/starter_code/target/
/starter_code/target/**
.vscode/settings.json
starter_code/target/classes/com/example/demo/SareetaApplication.class
starter_code/target/classes/com/example/demo/controllers/CartController.class
starter_code/target/classes/com/example/demo/controllers/ItemController.class
starter_code/target/classes/com/example/demo/controllers/OrderController.class
starter_code/target/classes/com/example/demo/controllers/UserController.class
starter_code/target/classes/com/example/demo/model/persistence/Cart.class
starter_code/target/classes/com/example/demo/model/persistence/Item.class
starter_code/target/classes/com/example/demo/model/persistence/User.class
starter_code/target/classes/com/example/demo/model/persistence/UserOrder.class
starter_code/target/classes/com/example/demo/model/persistence/repositories/CartRepository.class
starter_code/target/classes/com/example/demo/model/persistence/repositories/ItemRepository.class
starter_code/target/classes/com/example/demo/model/persistence/repositories/OrderRepository.class
starter_code/target/classes/com/example/demo/model/persistence/repositories/UserRepository.class
starter_code/target/classes/com/example/demo/model/requests/CreateUserRequest.class
starter_code/target/classes/com/example/demo/model/requests/ModifyCartRequest.class
starter_code/target/test-classes/com/example/demo/SareetaApplicationTests.class
starter_code/target/classes/application.properties
starter_code/target/classes/application.properties
.gitignore
spring-boot-app.log
starter_code/pom.xml
starter_code/src/main/java/com/example/demo/controllers/UserController.java
starter_code/src/main/resources/application.properties
starter_code/src/main/resources/log4j2-spring.xml
starter_code/src/test/java/com/example/demo/SareetaApplicationTests.java
starter_code/src/test/java/com/example/demo/TestUtils.java
starter_code/src/test/java/com/example/demo/controllers/CartControllerTest.java
starter_code/src/test/java/com/example/demo/controllers/ItemControllerTest.java
starter_code/src/test/java/com/example/demo/controllers/OrderControllerTest.java
starter_code/src/test/java/com/example/demo/controllers/UserControllerTest.java
